# Copy this file as .env, chmod 600 it and edit variables
# email is required for Traefik & Letsencrypt certificate

HOST_IP=192.168.0.10
SUBNET=192.168.2.0/24
GATEWAY=192.168.2.1
TRAEFIK_IP=192.168.2.2
TRAEFIK_VOL=/opt/MyTraefik
TRAEFIK_LETSENCRYPT_VOL=/opt/Letsencrypt
EMAIL=myname@domain.fr
JOPLIN_FQDN=joplin.domain.fr
